<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <h1>Pirate Info</h1>
    <form method="POST" action="/pirates">
      <label for="name">Name: </label>
      <input type="text" name="pirate[name]" id="name" value="name">
      <label for="weight">Weight: </label>
      <input type="text" name="pirate[weight]" id="weight" value="weight">
      <label for="height">Height: </label>
      <input type="text" name="pirate[height]" id="height" value="height">
      <h1>Ship Info</h1>
      <label for="ship_name_1">Name: </label>
      <input type="text" name="pirate[ships][][name]" id="ship_name_1" value="ship_name_1">
      <label for="type">Type: </label>
      <input type="text" name="pirate[ships][][type]" id="type" value="type">
      <label for="booty">Booty: </label>
      <input type="test" name="pirate[ships][][booty]" id="booty" value="booty">
      <h1>Ship Info 2</h1>
      <label for="ship_name_2">Name: </label>
      <input type="text" name="pirate[ships][][name]" id="ship_name_2" value="ship_name_2">
      <label for="type_2">Type: </label>
      <input type="text" name="pirate[ships][][type]" id="type_2" value="type_2">
      <label for="booty_2">Booty: </label>
      <input type="test" name="pirate[ships][][booty]" id="booty_2" value="booty_2">
      <button type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>
