<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <h1>Pirate Info</h1>
    <form method="POST" action="/pirates">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" value="name">
      <label for="weight">Weight: </label>
      <input type="text" name="" id="weight" value="weight">
      <label for="height">Height: </label>
      <input type="text" name="" id="height" value="height">
      <h1>Ship Info</h1>
      <label for="ship_name">Name: </label>
      <input type="text" name="" id="ship_name" value="ship_name">
      <label for="type">Type: </label>
      <input type="text" name="" id="type" value="type">
      <label for="booty">Booty: </label>
      <input type="test" name="" id="booty" value="booty">
      <input type="buttonn" name="Submit" value="Submit">Submit
    </form>
  </body>
</html>
