<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <h1>Pirate Info</h1>
    <form method="POST" action="/pirates">
      <label for="name">Name: </label>
      <input type="text" name="pirate[name]" id="name" value="name">
      <label for="weight">Weight: </label>
      <input type="text" name="pirate[weight]" id="weight" value="weight">
      <label for="height">Height: </label>
      <input type="text" name="pirate[height]" id="height" value="height">
      <h1>Ship Info</h1>
      <label for="ship_name">Name: </label>
      <input type="text" name="pirate[ships][][name]" id="ship_name" value="ship_name">
      <label for="type">Type: </label>
      <input type="text" name="pirate[ships][][type]" id="type" value="type">
      <label for="booty">Booty: </label>
      <input type="test" name="pirate[ships][][booty]" id="booty" value="booty">
      <h1>Ship Info 2</h1>
      <label for="ship_name2">Name: </label>
      <input type="text" name="pirate[ships][][name]" id="ship_name2" value="ship_name2">
      <label for="type2">Type: </label>
      <input type="text" name="pirate[ships][][type]" id="type2" value="type2">
      <label for="booty2">Booty: </label>
      <input type="test" name="pirate[ships][][booty]" id="booty2" value="booty2">
      <input type="button" name="Submit" value="Submit">Submit
    </form>
  </body>
</html>
