<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Display your Pirate here</h1>


    <h2>Display your first ship here</h2>


    <h2>Display your second ship here</h2>
  </body>
</html>